/* Browser and Settings Pages */
@-moz-document regexp("about:.*"),
regexp("chrome:.*"),
url("https://www.mozilla.org/credits/") {

	html,
	body,
	#mount {
		background-color: var(--zen-dark-color-mix-base) !important;
	}

	:where(groupbox) button,
	.default-button {
		background-color: var(--in-content-button-background) !important;
	}

	.navigation,
	.moz-card,
	groupbox {
		background-color: #070b11 !important;
	}
}
